.queryWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .queryP {
        height: 50vh;
        font-size: 2rem;
        display: grid;
        align-items: center;
    }

    .queryPagination {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}