.searchWrapper {
    display: flex;

    .searchInput {
        border: 1px solid transparent;
        border-radius: 5px;
        font-family: var(--font-lexend-exa);
        font-size: 0.9rem;
        border: 1px solid black;
    }
}