.anicardWrapper {
    width: 30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    border: 1px solid black;
    overflow: hidden;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;

    .anicardFigure {
        width: 100%;
        height: 50%;
        position: relative;

        img {
            object-fit: cover;
        }
    }

    .anicardName {
        color: var(--text-color-white);
    }

    .anicardEnvSection {
        width: clamp(20vw, 10vw, 30vw);
        display: flex;
        justify-content: space-evenly;

        .anicardEnv {
            
        }

        .anicardEnvRainforest,
        .anicardEnvSavanna,
        .anicardEnvSwamps,
        .anicardEnvMarshes,
        .anicardEnvRivers,
        .anicardEnvGrasslands,
        .anicardEnvWetlands,
        .anicardEnvPlains,
        .anicardEnvLakes,
        .anicardEnvMountain,
        .anicardEnvArctic,
        .anicardEnvTundra,
        .anicardEnvOcean,
        .anicardEnvAtlantic,
        .anicardEnvForest,
        .anicardEnvCoastal,
        .anicardEnvBeaches,
        .anicardEnvPacific,
        .anicardEnvCaves,
        .anicardEnvSteppes,
        .anicardEnvLagoons,
        .anicardEnvOceanic,
        .anicardEnvIndian,
        .anicardEnvCoralReef,
        .anicardEnvRockyReefs,
        .anicardEnvDeepOcean {
            border: 1px solid transparent;
            padding: 0.3rem;
            border-radius: 12px;
            color: var(--text-color-white);
            text-shadow: 1px 1px 5px black;
            font-weight: 600;
        }

        .anicardEnvRainforest {
            background-color: var(--env-rainforest);
        }

        .anicardEnvSavanna {
            background-color: var(--env-savanna);
        }

        .anicardEnvSwamps {
            background-color: var(--env-swamps);
        }

        .anicardEnvMarshes {
            background-color: var(--env-marshes);
        }

        .anicardEnvRivers {
            background-color: var(--env-rivers);
        }

        .anicardEnvGrasslands {
            background-color: var(--env-grasslands);
        }

        .anicardEnvWetlands{
            background-color: var(--env-wetlands);
        }

        .anicardEnvPlains {
            background-color: var(--env-plains);
        }

        .anicardEnvLakes {
            background-color: var(--env-lakes);
        }

        .anicardEnvMountain {
            background-color: var(--env-mountain);
        }

        .anicardEnvArctic {
            background-color: var(--env-arctic);
        }

        .anicardEnvTundra {
            background-color: var(--env-tundra);
        }

        .anicardEnvOcean {
            background-color: var(--env-ocean);
        }

        .anicardEnvAtlantic {
            background-color: var(--env-atlantic);
        }

        .anicardEnvForest {
            background-color: var(--env-forest);
        }

        .anicardEnvCoastal {
            background-color: var(--env-coastal);
        }

        .anicardEnvBeaches {
            background-color: var(--env-beaches);
        }

        .anicardEnvPacific {
            background-color: var(--env-pacific);
        }

        .anicardEnvCaves {
            background-color: var(--env-caves);
        }

        .anicardEnvSteppes {
            background-color: var(--env-steppes);
        }

        .anicardEnvLagoons {
            background-color: var(--env-lagoons);
        }

        .anicardEnvOceanic {
            background-color: var(--env-oceanic);
        }

        .anicardEnvIndian {
            background-color: var(--env-indian);
        }

        .anicardEnvCoralReef {
            background-color: var(--env-coralreef);
        }

        .anicardEnvRockyReefs {
            background-color: var(--env-rockyreefs);
        }

        .anicardEnvDeepOcean {
            background-color: var(--env-deepocean);
        }
        
    }

    .anicardButton {
        width: 100%;
        height: 2rem;
    }
}