/* CSS Styling for Animal Card Component */
.anicardWrapper {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--card-background);
    overflow: hidden;
    border-radius: 20px;
    justify-content: space-between;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .anicardFigure {
        width: 100%;
        height: 70%;
        position: relative;

        img {
            object-fit: cover;
        }
    }

    .anicardNameSection {
        margin-left: 0.5rem;
        display: flex;
        flex-direction: column;
        .anicardName {
            font-size: 1.5rem;
        }
    }

    

    .anicardEnvSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;

        .anicardEnv {
            border-radius: 1px;
        }

        .anicardEnvRainforest,
        .anicardEnvSavanna,
        .anicardEnvSwamps,
        .anicardEnvMarshes,
        .anicardEnvRivers,
        .anicardEnvGrasslands,
        .anicardEnvWetlands,
        .anicardEnvPlains,
        .anicardEnvLakes,
        .anicardEnvMountain,
        .anicardEnvArctic,
        .anicardEnvTundra,
        .anicardEnvOcean,
        .anicardEnvAtlantic,
        .anicardEnvForest,
        .anicardEnvCoastal,
        .anicardEnvBeaches,
        .anicardEnvPacific,
        .anicardEnvCaves,
        .anicardEnvSteppes,
        .anicardEnvLagoons,
        .anicardEnvOceanic,
        .anicardEnvIndian,
        .anicardEnvCoralReef,
        .anicardEnvRockyReefs,
        .anicardEnvDeepOcean {
            padding: 0.2rem;
            border-radius: 11px;
            margin-right: 0.5rem;
        }

        .anicardEnvRainforest,
        .anicardEnvForest,
        .anicardEnvCoastal,
        .anicardEnvBeaches,
        .anicardEnvPacific {
            background-color: var(--env-green);
        }

        
        .anicardEnvSwamps,
        .anicardEnvGrasslands,
        .anicardEnvWetlands,
        .anicardEnvPlains,
        .anicardEnvTundra,
        .anicardEnvSteppes {
            background-color: var(--env-lightblue);
        }

        .anicardEnvRivers,
        .anicardEnvLakes,
        .anicardEnvOcean,
        .anicardEnvAtlantic,
        .anicardEnvLagoons,
        .anicardEnvOceanic,
        .anicardEnvIndian,
        .anicardEnvDeepOcean {
            background-color: var(--env-blue);
        }

        .anicardEnvMountain,
        .anicardEnvCoralReef,
        .anicardEnvRockyReefs,
        .anicardEnvArctic {
            background-color: var(--env-gray);
        }

        .anicardEnvCaves,
        .anicardEnvMarshes,
        .anicardEnvSavanna {
            background-color: var(--env-brown);
        }
    }

    .anicardButton {
        width: 100%;
        height: 2.5rem;
        margin-top: auto;
        border: none;
        background-color: var(--card-button);
        color: var(--text-color-white);
        text-shadow: 1px 1px 2px black;
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.35s ease-in-out;
    }

    .anicardButton:hover {
        font-size: 1.5rem;
        cursor: pointer;
    }
}
/* Media Queries for better responsiveness */
@media only screen and (max-width: 1180px) {
    .anicardWrapper {
        width: 55vw;
    }
}

@media only screen and (max-width: 879px) {
    .anicardWrapper {
        width: 60vw;
    }
}

@media only screen and (max-width: 789px){
    .anicardWrapper {
        width: 70vw;
    }
}


@media only screen and (max-width: 675px){
    .anicardWrapper {
        width: 80vw;
        height: 50vh;

        .anicardEnvSection {
            justify-content: start;
            margin-right: 0;
            margin-left: 0.5rem;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 375px){
    .anicardWrapper {
        width: 90vw;
    }
}