/* Hero Section Styling */
.heroSection {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;

    .heroFig {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: slideshow 25s ease-in-out alternate infinite;
    }
}

/* Slideshow Animation */
@keyframes slideshow {
    0% {
        background-image: url("Hero-Images/heroImage-Forest.jpg");
    }
    25% {
        background-image: url("Hero-Images/heroImage-Savanna.jpg");
    }
    50% {
        background-image: url("Hero-Images/heroImage-Rainforest.jpg");
    }
    75% {
        background-image: url("./Hero-Images/heroImage-Swamp.jpg");
    }
    100% {
        background-image: url("Hero-Images/heroImage-Jungle.jpg");
    }
}