/* Hero Section Styling */
.heroSection {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;

    .heroFig {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: var(--main-background);
        }

    .img {
        object-fit: cover;
    }

    .slideShowWrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        z-index: 0;
    }

    .slideShowWrapper.active {
        opacity: 1;
        z-index: 1;
    }
}

