/* Pagination Component Styling */
.paginationWrapper {
    display: flex;
    justify-content: center;
    margin: 1rem;

    .paginationContainer {
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .paginationButton {
            margin-right: 1rem;
            margin-left: 1rem;
            padding: 0.25rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            transition: all 0.3s ease;
            background-color: transparent;
            border: none;
            color: var(--text-color-white);
        }
    
        .paginationButton:hover:enabled {
            cursor: pointer;
        }

        .paginationButton:disabled {
            opacity: 0.4;
        }
    
        .paginationParagraph {
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 0.3rem;
        }
    }
}

/* Media Queries for better responsivess. */
@media only screen and (max-width: 791px){
    .paginationWrapper {
        width: auto;
    }
}

@media only screen and (max-width: 428px) {
    .paginationWrapper {
        
        .paginationContainer {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(2, auto);

            .paginationParagraph {
                grid-row: 1;
                grid-column: span 4;
                justify-self: center;
                margin-bottom: 0;
                margin-top: 0.3rem;
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (max-width: 348px){
    .paginationWrapper {
        width: 30vw;
    }
}