.about {
    background-color: var(--main-background);
    text-align: center;
    display: grid;

    .aboutSection {
        margin: 1rem;
        background-color: var(--card-background);
        border-radius: 10px;
        .aboutWrapper {
            justify-self: center;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .aboutHeading {
                font-size: 3rem;
                font-weight: 800;
            }
    
            .aboutText {
                margin-top: 1rem;
                margin-bottom: 1rem;
                font-size: 1.25rem;
                font-weight: 700;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .about {
        height: auto;
        .aboutSection {
            .aboutWrapper {
                width: 80%;
                height: auto;
            }
        }
    }
}