/* About Page Styling */
.about {
    background-color: var(--main-background);
    display: grid;
    width: 100vw;
    height: 50vh;

    .aboutSection {
        margin: 1rem;
        background-color: var(--card-background);
        border-radius: 10px;
        .aboutWrapper {
            justify-self: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .aboutHeading {
                font-size: 3rem;
                font-weight: 800;
            }
    
            .aboutText {
                justify-self: center;
                margin: 1rem;
                margin-left: 2rem;
                margin-right: 2rem;
                font-size: 1.5em;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    .about {
        height: 80vh;
        .aboutSection {
            .aboutWrapper {
                .aboutText {
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 740px) {
    .about {
        height: 90vh;
    }
}

@media only screen and (max-width: 560px) {
    .about {
        height: 100vh;
        .aboutSection {
            .aboutWrapper {
                .aboutHeading {
                    font-size: 2rem;
                }
                .aboutText {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .about {
        .aboutSection {
            .aboutWrapper {
                .aboutText {
                    font-size: 0.85rem;
                }
            }
        }
    }
}