/* Global variables colors for the whole project */
:root {
    --header-background: #353723;
    --footer-background: #353723;
    --main-background: #49563e;
    --card-background: #838653;
    --card-button: #353723;
    --env-green: #00755E;
    --env-blue: #064273;
    --env-lightblue: #1e5b6e;
    --env-gray: #444444;
    --env-brown: #4d250f;
    --searchbar-background: #FFECBD; /*Undecided background color*/
    --text-color-black: #0a0a0a;
    --text-color-white: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Body Styling for all pages */
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
