:root {
    --header-background: #353723;
    --footer-background: #353723;
    --main-background: #617352;
    --card-background: #A0A56E;
    --env-rainforest: #00755E;
    --env-savanna: #D1a36E;
    --env-arctic: #98d4FF;
    --env-ocean: #064273;
    --env-swamps: #828C51;
    --env-marshes: #458C64;
    --env-rivers: #1e5b6e;
    --env-grasslands: #78ee8c;
    --env-wetlands: #897f92;
    --env-plains: #62bc2f;
    --env-lakes: #64a8a8;
    --env-mountain: #444444;
    --env-tundra: #b9bbdf;
    --env-atlantic: #0047b3;
    --env-forest: #228B22;
    --env-coastal: #64b5c1;
    --env-beaches: #e2d7b0;
    --env-pacific: #1ca9c9;
    --env-caves: 	#4d250f;
    --env-steppes: #b6e353;
    --env-lagoons: #c5f0e0;
    --env-oceanic: #1da2d8;
    --env-indian: #7fcdff;
    --env-coralreef: #fd7c6e;
    --env-rockyreefs: #b6b6b6;
    --env-deepocean: #003366;
    --searchbar-background: #FFECBD; /*Undecided background color*/
    --text-color-black: #0a0a0a;
    --text-color-white: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
