/* Home Page Styling */
.main {
  background-color: var(--main-background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .mainTopContent {
    display: flex;
    width: 86%;
    justify-content: space-between;

    .mainHeading {
      display: grid;
      align-self: center;
      justify-content: center;
    }
  
    .mainForm {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  
}

/* Media Queries for Main Section for make it more responsive. */
@media only screen and (max-width: 1180px){
  .main {

    .mainTopContent {
      flex-direction: column;
      width: auto;

      .mainHeading {
        margin-top: 1rem;
      }
  
      .mainForm {
        display: grid;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 477px){
  .main {
    .mainTopContent {
      .mainHeading {
        font-size: 1.25rem;
      }
    }
  }
}

@media only screen and (max-width: 398px){
  .main {
    .mainTopContent {
      .mainHeading {
        font-size: 1rem;
      }
    }
  }
  
}


