.idPage {
    background-color: var(--main-background);
    display: flex;
    justify-content: center;

    .idError {
        height: 80vh;
        font-size: 3rem;
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    
}